# URL del proyecto de Supabase (Accesible públicamente desde Expo)
EXPO_PUBLIC_SUPABASE_URL=https://tu-proyecto.supabase.co

# Clave pública Anon de Supabase (Accesible públicamente desde Expo)
EXPO_PUBLIC_SUPABASE_ANON_KEY=tu-anon-key-aqui
